*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(228, 228, 228) !important;
}
a{
    text-decoration: none !important;
}
#navresp{
    display: none !important;
}
#navnresp{
    display: flex;
}
.im_logo{
    height: 4.5rem !important;
}
.i{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: .7rem;
}
.foto_carro{
    border-radius: .5rem;
    width: 60%;
}
.foto_carro img{
    border-radius: .5rem;
    width: 100%;
    height: 35rem;
}
#carrButton{
    border: 1px solid black;
    border-radius: .8rem;
    background-color: rgba(73, 73, 73, .7);
    padding: .75rem;
}

.tipo{
    text-transform: uppercase;
    padding: 1rem;
}
.s{
    margin: 1rem;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto;
}
.financeiro{
    height: auto;
    max-height: 12rem;
    margin: .9rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: white;
    border-radius: .6rem;
}
.simulaFin{
    color: black;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: .5rem;
    width: 15rem;
    border-radius: .5rem;
    border: 1px solid black;
    background-color: rgb(1, 122, 1);
    color: white;
}
#verificaAl{
    background-color: rgb(161, 161, 161);
    padding: 0px;
}
.aluguel_coment{
    height: auto;
    max-height: 25rem;

}
.comentTitulo{
    background-color: aliceblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: .2rem;
}
.coment_read{
    height: auto;
    min-height: 7.5rem;
    max-height: 20rem;
    border: 1px solid black;
    margin: .5rem;
    overflow-y: auto;
}
.coment_post{
    display: flex;
    padding: .2rem 1rem .5rem 1rem;
}
#imputComent{
    width: 19rem;
    padding: .2rem .4em;
    border-radius: .3rem;
    margin: .5rem 1rem .5rem .5rem;
    height: auto;
    max-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    overflow-y: auto;
    
}
#btnComentPost{
    border: 0px;
    background-color: rgba(250, 235, 215, 0);
}
#btnComentPost img{
    width: 1.7rem;
}
.cm{
    background-color: white;
    border-radius: .4rem;
    margin: .5rem;
    padding: .3rem;
}
.comentHeader{

}
.comentUser{

}
.btnComent{
    right: 0%;
}
#btnComentUp{
    width: 1.1rem;
    border: 0px;
    transition: all 200ms ease-in;
    border-radius: .3rem;
    text-align: center;
    text-justify: center;
    background-color: white;
}
#btnComentUp:hover{
    background-color: rgb(255, 153, 0);
    color:white;
}
#btnComentDel{
    width: 1.1rem;
    border: 0px;
    transition: all 200ms ease-in;
    border-radius: .3rem;
    text-align: center;
    text-justify: center;
    background-color: white;
}
#btnComentDel:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(228, 228, 228);
}
.coment{

}

.dados{
    height: auto;
    margin: 1rem;
    border: 1px solid black;
    background-color: white;
    border-radius: .6rem;
}
.info_sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.sobre{
    justify-content: center;
    margin: .5rem;
    padding: .5rem;
    text-justify: center;
    width: 10rem;
    border: 1px solid black;
    border-radius: .6rem;
    background-color: rgb(236, 236, 236);
}
h5{
    width: 100%;
    display: flex;
    justify-content: center;
}
.itm{
    width: 100%;
    display: flex;
    justify-content: center;
}
.adicionais{
    padding: .5rem;
}
.crud{
    display: flex;
    justify-content: end;
    padding: 1rem;
}
.btnCRUD{
    padding: .5rem;
    width: 10rem;
    margin: 7px 2rem;
    border: 0px;
    border-radius: .5rem;
    color: white;
    transition: border 200ms ease-in-out;
}
.btnCRUD:hover{
    border: 1px solid black;
    margin: 5px 2rem;

}
#btnD{
    background-color: red;
}
#btnU{
    background-color: blue;
}
#divDel{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #aaaaaa79;
    display: none;
    justify-content: center;
    align-items: center;
}
.divdel{
    background-color: white;
    width: 40%;
    height: auto;
    border: 1px solid black;
    border-radius: .3rem;
    padding: 1rem;

}
.divdel div{
    margin: .5rem;
    padding: .5rem;
}
.divdelw{
    color: red;
    font-size: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divdelt{
    font-size: 35px;
    font-weight: bolder;
    font-family: sans-serif;
}
.divdelt p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.simbol{
    color: red;
    font-weight: 900;
    font-size: 50px;
}
.divdelb{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnDel{
    display: flex;
    justify-content: center;
    color: white;
    background-color: red;
    padding: .5rem;
    border: 1.5px solid black;
    border-radius: .3rem;
    margin: .3rem 1rem;
    width: 15rem;
    font-size: 110%;
    font-weight: 600;
}
#btnDelVoltar{
    display: flex;
    justify-content: center;
    padding: .5rem;
    border: 1.5px solid black;
    border-radius: .3rem;
    margin: .3rem 1rem;
    width: 15rem;
    font-size: 110%;
    font-weight: 600;
}
#verificaAlRes{
    display: none;
}

@media(max-width: 768px){
    
    *{
        width: 100%;
    }
    #navnresp{
        display: none;
    }
    #navresp{
        display: flex !important;
    }
    .nb{
        display: flex !important;
    }
    .im_logo{
        
        width: 5rem;
    }
    .navbar-toggler{
        width: 5rem !important;
        height: 4rem !important;
    }
    .i{
        margin-top: 7rem;
    }
    .container{
        display: block;
        margin: 0px;
    }
    .foto_carro{
        margin: 0px;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .foto_carro img{
        height: 20rem;
    }
    .financeiro{
        margin: 1rem 0rem;
        width: 100%;
    }
    .dados{
        margin: 1rem 0rem;
        width: 100%;
    }
    .sobre{
        width: 6.2rem;
        font-size: 15px ; 
    }
    .sobre h5{
        font-size: 16px;
        text-justify: center;
    }
    .divdel{
        width: 90%;
    }
    #verificaAlRes{
        display: block;
    }
    #verificaAl{
        display: none;
    }
}